<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/meta')%>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <section>
            <div class="container carrousel">
                <div class="text-destacados">
                    <h2>
                        MANGAS
                    </h2>
                </div>
                <div class="destacados container">
                    <div class="row">
                        
                        <% JSONBodyMangas.forEach(manga =>{ %>
                         
                        <div class="pad-0 col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="card">
                                <img src="<%= manga.img %>" alt="<%= manga.name %>">
                                <div class="card-info">
                                    <h2><%= manga.name %></h2>
                                    <p>$<%= manga.price %></p>       
                                    <a class="button" href="/contacto">COMPRAR</a>          
                                </div>
                            </div>
                        </div> 
                        
                        <% }) %>
    
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>